{% extends 'layout.html' %} {% block content %}
<style>
  p {
    font-size: 1rem;
  }
</style>
<!-- Click Drop Down -->
<style>
  .dropbtn:hover,
  .dropbtn:focus {
    background-color: #2980b9;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    left: -15%;
  }
</style>

<style>
  /* Style the search box */
  #mySearch {
    width: 75%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
    border-radius: 25px;
    margin-top: 15px;
  }
</style>

<input
  type="text"
  id="mySearch"
  placeholder="Search.."
  title="Type in a category"
/>

<!-- FILTER BUTTON -->
<div class="dropdown">
  <button class="dropbtn">Filters</button>
  <div id="myDropdown" class="dropdown-content">
    <div class="filter-buttons">
      <a href="/index.html" class="filter-btn">All</a>
    </div>

    <!-- JAPANESE BRANCH -->
    <div class="filter-buttons">
      <div class="hoverdropdown">
        <!-- <button class="hoverdropbtn">JP</button> -->
        <a href="/index.html?branch=Japan" class="filter-btn">JP</a>
        <div class="hoverdropdown-content">
          <div class="filter-buttons">
            <a href="/index.html?generation=Gen 0" class="filter-btn">Gen 0</a>
            <a href="/index.html?generation=Gen 1" class="filter-btn">Gen 1</a>
            <a href="/index.html?generation=Gen 2" class="filter-btn">Gen 2</a>
            <a href="/index.html?generation=GAMERS" class="filter-btn"
              >GAMERS</a
            >
            <a href="/index.html?generation=Gen 3" class="filter-btn">Gen 3</a>
            <a href="/index.html?generation=Gen 4" class="filter-btn">Gen 4</a>
            <a href="/index.html?generation=Gen 5" class="filter-btn">Gen 5</a>
            <a href="/index.html?generation=holoX" class="filter-btn">holoX</a>
            <a href="/index.html?generation=ReGLOSS" class="filter-btn"
              >ReGLOSS</a
            >
            <a href="/index.html?generation=FLOW GLOW" class="filter-btn"
              >FLOW GLOW</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- ENGLISH BRANCH -->
    <div class="filter-buttons">
      <div class="hoverdropdown">
        <!-- <button class="hoverdropbtn">EN</button> -->
        <a href="/index.html?branch=English" class="filter-btn">EN</a>
        <div class="hoverdropdown-content">
          <div class="filter-buttons">
            <a href="/index.html?generation=Myth" class="filter-btn">Myth</a>
            <a href="/index.html?generation=Promise" class="filter-btn"
              >Promise</a
            >
            <a href="/index.html?generation=Advent" class="filter-btn"
              >Advent</a
            >
            <a href="/index.html?generation=Justice" class="filter-btn"
              >Justice</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- INDONESIAN BRANCH -->
    <div class="filter-buttons">
      <div class="hoverdropdown">
        <!-- <button class="hoverdropbtn">ID</button> -->
        <a href="/index.html?branch=Indonesia" class="filter-btn">ID</a>
        <div class="hoverdropdown-content">
          <div class="filter-buttons">
            <a href="/index.html?generation=Area 15" class="filter-btn"
              >Area 15</a
            >
            <a href="/index.html?generation=Holoro" class="filter-btn"
              >Holoro</a
            >
            <a href="/index.html?generation=HoloH3ro" class="filter-btn"
              >HoloH3ro</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="filter-buttons">
      <a href="/index.html?graduated=1" class="filter-btn">GRAD</a>
    </div>
  </div>
</div>

<!-- CARDS FOR VTUBERS -->
<div class="container">
  {% for row in content %}
  <div class="card">
    <a
      class="card-link"
      style="text-decoration: none; color: black"
      href="vtuber/{{ row[0] }}"
    >
      <img class="card-image" src="{{ row[8] }}" alt="{{ row[1] }} Image." />
      {% if row[11] == 1 %}
      <h1 class="card-name">{{ row[1] }} [GRAD]</h1>
      {% else %}
      <h1 class="card-name">{{ row[1] }}</h1>
      {% endif %}
      <p class="card-about">{{ row[2] }}</p>
    </a>
  </div>
  {% endfor %}
</div>

{% endblock %}
